:root {
  --color-brand-light: #819b57;
  --color-brand-dark: #465929;
  --color-primary-dark: #31261a;
  --color-primary-normal: #faf4ea;
  --color-primary-light: #cfcfbc;
  --color-secondary-light: #a18268;
}

// $color-brand-light: #819b57;
// $color-brand-dark: #465929;
// $color-primary-dark: #31261a;
// $color-primary-normal: #faf4ea;
// $color-primary-light: #cfcfbc;
// $color-secondary-light: #a18268;
