.button {
  //   display: flex;
  //   align-items: flex-start;
  display: block;
  font-size: 16px;
  padding: 10px 24px;
  gap: 10px;
  background-color: var(--color-brand-light);
  border-radius: 8px;
  border: 2px solid var(--color-brand-light);
  font-family: "Poppins-SemiBold", sans-serif;
  font-weight: 600;
  text-align: center;
  color: var(--color-primary-normal);
  cursor: pointer;

  @media screen and (min-width: $bp-desktop) {
    font-size: 18px;
    line-height: 1.5;
    padding: 16px 32px;
  }
}

/* .button[disabled] {
  color: gray;
  background-color: lightgrey;
} */

/* .button:hover {
  background-color: transparent;
  color: var(--color-brand-dark);
  border-color: currentColor;
} */

/* .button:focus {
  background-color: aqua;
} */

/* .button:active {
  background-color: var(--color-brand-light);
} */
