.advantages-section {
  padding: 40px 0 20px 0;

  @media screen and (min-width: $bp-desktop) {
    background-color: var(--color-brand-light);
    margin-bottom: 48px;
    padding: 16px 0;
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 16px;
    background-color: var(--color-primary-light);
    border-radius: 24px;
    padding: 24px 40px;

    @media screen and (min-width: $bp-desktop) {
      flex-direction: row;
      gap: 40px;
      justify-content: space-between;
      background-color: transparent;
      border-radius: 0;
      padding: 0;
    }
  }

  &__item {
    font-family: "Poppins-Light", sans-serif;
    font-size: 14px;
    font-weight: 300;

    a {
      color: var(--color-primary-dark);
    }

    @media screen and (min-width: $bp-desktop) {
      color: var(--color-primary-normal);
      font-size: 20px;

      a {
        color: var(--color-primary-normal);
      }
    }
  }

  &__item :hover {
    color: var(--color-brand-dark);
  }
}
