.contact-section {
  padding-bottom: 96px;

  &__container {
    display: flex;
    gap: 32px;
  }

  &__form {
    flex-basis: calc((100% - 32px) / 2);
  }

  &__title {
    margin-bottom: 16px;
    font-size: 62px;
  }

  &__text {
    margin-bottom: 42px;

    &--color-brand-dark {
      color: var(--color-brand-dark);
    }
  }

  &__map {
    flex-basis: calc((100% - 32px) / 2);
    /* height: 600px; */
    flex-shrink: 0;
    border-radius: 16px;
  }

  &__form-field {
    /* position: relative; */
    margin-bottom: 24px;
  }

  &__button {
    display: block;
    margin: 0 auto 24px;
  }

  &__button:hover {
    background-color: transparent;
    color: var(--color-brand-dark);
  }
}
