.formats-section {
  padding-bottom: 78px;

  &__title {
    font-size: 32px;
    margin-bottom: 24px;
    text-align: center;
    color: var(--color-primary-dark);

    @media screen and (min-width: $bp-desktop) {
      font-size: 64px;
      margin-bottom: 80px;
    }
  }

  &__slider {
    display: flex;
    gap: 32px;
    align-items: center;
    position: relative;
  }

  &__container {
    overflow: hidden;
  }

  //   &__list {
  //     margin-bottom: 32px;
  //     display: flex;
  //     flex-wrap: wrap;
  //     gap: 20px;
  //   }

  &__item {
    padding: 12px 0;
    // flex-basis: calc((100% - 40px) / 3);
  }

  &__button {
    display: none;

    @media screen and (min-width: $bp-desktop) {
      display: flex;
    }
  }
}
