.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding-top: 16px;

  @media screen and (min-width: $bp-desktop) {
    padding-top: 32px;
  }

  &__container {
    display: flex;
    align-items: center;
    gap: 40px;
  }

  &__nav {
    display: flex;
    align-items: center;
    flex-grow: 1;
    gap: 40px;
  }

  &__menu {
    display: none;

    @media screen and (min-width: $bp-desktop) {
      display: flex;
      gap: 64px;
      flex-grow: 1;
      justify-content: center;
    }
  }

  &__menu li {
    font-family: "Poppins-Regular", sans-serif;
    font-size: 18px;
    font-weight: 400;
    text-align: center;
    color: var(--color-primary-normal);
  }

  &__menu li :hover {
    color: var(--color-brand-light);
  }

  &__button {
    display: none;

    @media screen and (min-width: $bp-desktop) {
      display: block;
    }
  }

  &__burger {
    //  display: block;
    fill: var(--color-primary-normal);
    background-color: transparent;
    border: none;
    width: 24px;
    height: 24px;
    padding: 0;

    @media screen and (min-width: $bp-desktop) {
      display: none;
    }
  }
}
