.traditions-section {
  .traditions-content {
    display: flex;
    gap: 40px;
    justify-content: space-between;

    &__text {
      flex-basis: 710px;

      &--width600px {
        width: 600px;
      }

      &--width330px {
        width: 330px;
      }
    }

    &__text .section__title {
      margin-bottom: 42px;
    }

    &__text p {
      margin-bottom: 42px;
    }

    &__image {
      border-color: var(--color-secondary-light);
      border-radius: 400px 400px 0 0;
    }
  }
}
