.traditions-container {
  display: flex;
  gap: 40px;
  justify-content: space-between;
}

.traditions-text {
  flex-basis: 710px;
}

.traditions-text .section-title {
  margin-bottom: 42px;
}

.traditions-text p {
  margin-bottom: 42px;
}

.traditions-image {
  border-color: var(--color-secondary-light);
  border-radius: 400px 400px 0 0;
}